<h2><%=l(:label_faq_new)%></h2>

<% form = labelled_form_for :faq, @faq,
                             :url => {:action => 'new', :id => @project, :faq_id => @faq},
                             :html => {:multipart => true, :id => 'faq-form', :class => 'tabular'} do |f| %>

    <%= error_messages_for 'faq' %>
    <div class="box">
    <%= render :partial => 'ezfaq/form', :locals => {:f => f} %>
    </div>
    <%= submit_tag l(:button_create) %>
  <%= preview_link({:controller => 'ezfaq', :action => 'preview', :id => @project}, 'faq-form') %>
<% end %>

<%= form if Rails::VERSION::MAJOR >= 3 %>

<div id="preview" class="wiki"></div>

<% html_title(l(:label_title_ezfaq)) -%>